In [1]:
import pandas as pd
import numpy as np

### Series

In [3]:
a = pd.Series([100, 200, 300])
a

0    100
1    200
2    300
dtype: int64

In [5]:
# 自定义索引
b = pd.Series([100, 200, 300],['索引1', '索引2', '索引2'])
b

索引1    100
索引2    200
索引2    300
dtype: int64

In [15]:
# 标量值创建
c = pd.Series(100, index=['hi','wa', 'o'])
'hi' in c

True

由字典创建 Series

In [14]:
dict_s = pd.Series({'hi':100., '200':200})
print(f"索引类型：{dict_s.index}")

索引类型：Index(['hi', '200'], dtype='object')

### DataFrame

In [ ]:
d = pd.DataFrame(np.arange(10).reshape(2, 5))
d

In [19]:
dt = {
    '列索引1':pd.Series([1, 2, 3], index=['a', 'b', 'c']),
    '列索引2':pd.Series([100, 200, 300.], index=['e', 'b', 'd'])
}
d = pd.DataFrame(dt)

   列索引1   列索引2
a   1.0    NaN
b   2.0  200.0
c   3.0    NaN
d   NaN  300.0
e   NaN  100.0

In [22]:
d1 = pd.DataFrame(dt, index=['a', 'b' ,'c'], columns=['列索引1', 'hi'])
d1

   列索引1   hi
a     1  NaN
b     2  NaN
c     3  NaN

In [26]:
nc = d.columns.delete(0)
nc

Index(['列索引2'], dtype='object')

算术运算

In [28]:
b = pd.DataFrame(np.arange(20).reshape(4, 5))
a = pd.DataFrame(np.arange(12).reshape(3, 4))
b.add(a, fill_value=0.0)

      0     1     2     3     4
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0